html, body {
	max-width : 100%;
	overflow-x : hidden;
}

#userInfo{
	text-align:center;
}

#userInfoPic{
	padding:12%;
	width:80%;
}

#userInfoName{
	margin-left:auto;
	margin-right:auto;
}

header{
	background-color:#ffcbcb;
	display:inline-block;
}

#page{
	background-color:#ffcbcb;
}

#calTop{
	margin-top:20px;
	width:68%;
	margin-right:2%;
	min-height:1px;
	display:inline-block;
	float:left;
}

#topTitle{
	float:left;
	min-height:42px;
	font-size:30px;
	width:100%;
}

.prevNextWeek{
	float:left;
	width:25%;
	font-size:18px;
}

#curWeek{
	font-size:18px;
	width:50%;
	float:left;
}

.prevNextWeek:hover{
	cursor: hand;
	cursor: pointer;
}

#alertSpace{
	float:left;
	min-height:45px;
	margin-top:14px;
	width:28%;
}

.myAlert{
	margin:15px;
	height:42px;
}

#main{
	float:left;
	width:68%;
	margin-right:2%;
	background-color:#fff;
	padding:0px;
}

#side{
	float:left;
	width:28%;
	background-color:#ffcbcb;
	padding:0px;
}

.times{
	margin-left:2px;
	border-bottom:1px solid #878E96;
	height:60px;
	text-align:center;
}

.times span{
	right:10px;
	color:#878E96;
	font-family:sans-serif;
	font-weight:bold;
}

.cel{
	
	float:left;
	width:14%;
	height:40px;
}

.task{
	position:relative;
	width:100%;
	height:30px;
	border-radius: 3px;

	background-color: #B2CCFF;
	color: white;
}

.taskDel{
	position:absolute;
	right:2px;
	top:2px;
}

.myspan {
	display: block;
}



#cal{
	width:100%;
	clear:left;
	float:left;
}

#calTime{
	width:12%;
	margin-top:40px;
	height:910px;
	float:left;
}

#calMain{
	width:88%;
	height:100%;
	padding-left:1%;
	display:inline-block;
}


.calDayCol{
	float:left;
	width:14%;
	min-height: 1px;
	display:inline-block;
}

#addSchd{
	
	width:100%;
	height:180px;
	padding-right:20px;
	color:white;
	font-weight:bold;
}

.schdTimes{
    width:13%;
    height: 34px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	
}

#addSsubmit{
	float:right;
}

#group{
	margin-top:20px;
	margin-left:20px;
	float:left;
}

.glBox{
	position:relative;
	display:inline-block;
	width:80%;
}

.glElement{

	width:80%;
	margin:10px;
}

.glElement:hover{
	cursor: hand;
	cursor: pointer;
}

a.divLink{
	vertical-align:center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
}

.glLeader{
	margin:2px;
	font-size:10px;
}

.glName{
	text-align:center;
	margin:auto;
	font-size:20px;
}

.glJoin{
	background-color:#85a1b2;
	position:absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
	display:block;
	z-index: 11;
}

.red{
	color:red;
}

.blue{
	color:blue;
}

.box_center{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
