html, body {
	max-width : 100%;
	overflow-x : hidden;
}

#calTop{
	width:67%;
	min-height:1px;
	display:inline-block;
}

#topTitle{
	float:left;
	min-height:1px;
	font-size:30px;
	width:24%;
}

.prevNextWeek{
	float:left;
	width:20%;
	font-size:18px;
}

#curWeek{
	font-size:18px;
	width:32%;
	float:left;
}

.prevNextWeek:hover{
	cursor: hand;
	cursor: pointer;
}

#main{
	background-color:#e7eef6;
	padding:0px;
}

#side{
	padding:0px;
}

.cel{
	
	float:left;
	width:14%;
	height:40px;
}

.task{
	position:relative;
	width:100%;
	height:30px;
	border-radius: 3px;

	background-color: #B2CCFF;
	color: white;
}

.taskDel{
	position:absolute;
	right:2px;
	top:2px;
}

.myspan {
	display: block;
}



#cal{
	width:100%;
	clear:left;
	float:left;
}

#calTime{
	width:12%;
	margin-top:40px;
	height:910px;
	float:left;
}

#calMain{
	width:88%;
	height:100%;
	display:inline-block;
}


.calDayCol{
	float:left;
	width:14%;
	min-height: 1px;
	display:inline-block;
}

#addSchd{
	width:100%;
	height:180px;
	background-color:#6ed3cf;
	padding:20px;
	color:white;
	font-weight:bold;
}

#group{
	margin-top:20px;
	margin-left:20px;
	float:left;
}

#groupList{	
	
}

.glBox{
	position:relative;
	display:inline-block;
}

.glElement{
	
	float:left;
	border:4px solid black;
	width:150px;
	margin:10px;
}

.glElement:hover{
	cursor: hand;
	cursor: pointer;
}

a.divLink{
	vertical-align:center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
}

.glLeader{
	margin:2px;
	font-size:10px;
}

.glName{
	text-align:center;
	margin:auto;
	font-size:20px;
}

.glJoin{
	position:absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
	display:block;
	z-index: 11;
}

.schdTimes{
	width:30px;
}

.times{
	margin-left:2px;
	border-bottom:1px solid #878E96;
	height:60px;
	text-align:center;
}

.times span{
	right:10%;
	color:#878E96;
	font-family:sans-serif;
	font-weight:bold;
}

.red{
	color:red;
}

.blue{
	color:blue;
}

.box_center{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
